@{
    ViewBag.Header = "User Management";
    ViewBag.Title = "Edit User";
    ViewBag.Description = "User Management Page";
}

@section styles
{
    <link rel="stylesheet" href="/Content/BackEnd/css/jquery-ui-1.10.3.custom.min.css" />
    <link rel="stylesheet" href="/Content/BackEnd/css/jquery.gritter.css" />
    <link rel="stylesheet" href="/Content/BackEnd/css/select2.css" />
    <link rel="stylesheet" href="/Content/BackEnd/css/bootstrap-editable.css" />
}

<div class="page-header">
    <h1>@ViewBag.Header
        <small>
            <i class="icon-double-angle-right"></i>
            @ViewBag.Title
        </small>
    </h1>
</div>

<div class="row">
    <div class="col-xs-12">
        <!-- PAGE CONTENT BEGINS -->

        <div id="user-profile-3" class="user-profile row">
            <div class="col-sm-offset-1 col-sm-10">
                <div class="space"></div>

                <form class="form-horizontal">
                    <div class="tabbable">
                        <ul class="nav nav-tabs padding-16">
                            <li class="active">
                                <a data-toggle="tab" href="#edit-basic">
                                    <i class="green icon-edit bigger-125"></i>
                                    Basic Info
                                </a>
                            </li>

                            <li>
                                <a data-toggle="tab" href="#edit-settings">
                                    <i class="purple icon-cog bigger-125"></i>
                                    Settings
                                </a>
                            </li>

                            <li>
                                <a data-toggle="tab" href="#edit-password">
                                    <i class="blue icon-key bigger-125"></i>
                                    Password
                                </a>
                            </li>
                        </ul>

                        <div class="tab-content profile-edit-tab-content">
                            <div id="edit-basic" class="tab-pane in active">
                                <h4 class="header blue bolder smaller">General</h4>

                                <div class="row">
                                    <div class="col-xs-12 col-sm-4">
                                        <input type="file" />
                                    </div>

                                    <div class="vspace-xs"></div>

                                    <div class="col-xs-12 col-sm-8">
                                        <div class="form-group">
                                            <label class="col-sm-4 control-label no-padding-right" for="form-field-username">Username</label>

                                            <div class="col-sm-8">
                                                <input class="col-xs-12 col-sm-10" type="text" id="form-field-username" placeholder="Username" value="alexdoe" />
                                            </div>
                                        </div>

                                        <div class="space-4"></div>

                                        <div class="form-group">
                                            <label class="col-sm-4 control-label no-padding-right" for="form-field-first">Name</label>

                                            <div class="col-sm-8">
                                                <input class="input-small" type="text" id="form-field-first" placeholder="First Name" value="Alex" />
                                                <input class="input-small" type="text" id="form-field-last" placeholder="Last Name" value="Doe" />
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <hr />
                                <div class="form-group">
                                    <label class="col-sm-3 control-label no-padding-right" for="form-field-date">Birth Date</label>

                                    <div class="col-sm-9">
                                        <div class="input-medium">
                                            <div class="input-group">
                                                <input class="input-medium date-picker" id="form-field-date" type="text" data-date-format="dd-mm-yyyy" placeholder="dd-mm-yyyy" />
                                                <span class="input-group-addon">
                                                    <i class="icon-calendar"></i>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="space-4"></div>

                                <div class="form-group">
                                    <label class="col-sm-3 control-label no-padding-right">Gender</label>

                                    <div class="col-sm-9">
                                        <label class="inline">
                                            <input name="form-field-radio" type="radio" class="ace" />
                                            <span class="lbl">Male</span>
                                        </label>

                                        &nbsp; &nbsp; &nbsp;
																	<label class="inline">
                                                                        <input name="form-field-radio" type="radio" class="ace" />
                                                                        <span class="lbl">Female</span>
                                                                    </label>
                                    </div>
                                </div>

                                <div class="space-4"></div>

                                <div class="form-group">
                                    <label class="col-sm-3 control-label no-padding-right" for="form-field-comment">Comment</label>

                                    <div class="col-sm-9">
                                        <textarea id="form-field-comment"></textarea>
                                    </div>
                                </div>

                                <div class="space"></div>
                                <h4 class="header blue bolder smaller">Contact</h4>

                                <div class="form-group">
                                    <label class="col-sm-3 control-label no-padding-right" for="form-field-email">Email</label>

                                    <div class="col-sm-9">
                                        <span class="input-icon input-icon-right">
                                            <input type="email" id="form-field-email" value="alexdoe@gmail.com" />
                                            <i class="icon-envelope"></i>
                                        </span>
                                    </div>
                                </div>

                                <div class="space-4"></div>

                                <div class="form-group">
                                    <label class="col-sm-3 control-label no-padding-right" for="form-field-website">Website</label>

                                    <div class="col-sm-9">
                                        <span class="input-icon input-icon-right">
                                            <input type="url" id="form-field-website" value="http://www.alexdoe.com/" />
                                            <i class="icon-globe"></i>
                                        </span>
                                    </div>
                                </div>

                                <div class="space-4"></div>

                                <div class="form-group">
                                    <label class="col-sm-3 control-label no-padding-right" for="form-field-phone">Phone</label>

                                    <div class="col-sm-9">
                                        <span class="input-icon input-icon-right">
                                            <input class="input-medium input-mask-phone" type="text" id="form-field-phone" />
                                            <i class="icon-phone icon-flip-horizontal"></i>
                                        </span>
                                    </div>
                                </div>

                                <div class="space"></div>
                                <h4 class="header blue bolder smaller">Social</h4>

                                <div class="form-group">
                                    <label class="col-sm-3 control-label no-padding-right" for="form-field-facebook">Facebook</label>

                                    <div class="col-sm-9">
                                        <span class="input-icon">
                                            <input type="text" value="facebook_alexdoe" id="form-field-facebook" />
                                            <i class="icon-facebook blue"></i>
                                        </span>
                                    </div>
                                </div>

                                <div class="space-4"></div>

                                <div class="form-group">
                                    <label class="col-sm-3 control-label no-padding-right" for="form-field-twitter">Twitter</label>

                                    <div class="col-sm-9">
                                        <span class="input-icon">
                                            <input type="text" value="twitter_alexdoe" id="form-field-twitter" />
                                            <i class="icon-twitter light-blue"></i>
                                        </span>
                                    </div>
                                </div>

                                <div class="space-4"></div>

                                <div class="form-group">
                                    <label class="col-sm-3 control-label no-padding-right" for="form-field-gplus">Google+</label>

                                    <div class="col-sm-9">
                                        <span class="input-icon">
                                            <input type="text" value="google_alexdoe" id="form-field-gplus" />
                                            <i class="icon-google-plus red"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>

                            <div id="edit-settings" class="tab-pane">
                                <div class="space-10"></div>

                                <div>
                                    <label class="inline">
                                        <input type="checkbox" name="form-field-checkbox" class="ace" />
                                        <span class="lbl">Make my profile public</span>
                                    </label>
                                </div>

                                <div class="space-8"></div>

                                <div>
                                    <label class="inline">
                                        <input type="checkbox" name="form-field-checkbox" class="ace" />
                                        <span class="lbl">Email me new updates</span>
                                    </label>
                                </div>

                                <div class="space-8"></div>

                                <div>
                                    <label class="inline">
                                        <input type="checkbox" name="form-field-checkbox" class="ace" />
                                        <span class="lbl">Keep a history of my conversations</span>
                                    </label>

                                    <label class="inline">
                                        <span class="space-2 block"></span>

                                        for
																	<input type="text" class="input-mini" maxlength="3" />
                                        days
                                    </label>
                                </div>
                            </div>

                            <div id="edit-password" class="tab-pane">
                            </div>
                        </div>
                    </div>

                    <div class="clearfix form-actions">
                        <div class="col-md-offset-3 col-md-9">
                            <button class="btn btn-info" type="button">
                                <i class="icon-ok bigger-110"></i>
                                Save
                            </button>

                            &nbsp; &nbsp;
														<button class="btn" type="reset">
                                                            <i class="icon-undo bigger-110"></i>
                                                            Reset
                                                        </button>
                        </div>
                    </div>
                </form>
            </div>
            <!-- /span -->
        </div>
        <!-- PAGE CONTENT ENDS -->
    </div>
    <!-- /.col -->
</div>
<!-- /.row -->
@section scripts
{
    <script src="/Scripts/BackEnd/jquery.ui.touch-punch.min.js"></script>
    <script src="/Scripts/BackEnd/bootbox.min.js"></script>
    <script src="/Scripts/BackEnd/date-time/bootstrap-datepicker.min.js"></script>
    <script src="/Scripts/BackEnd/jquery.maskedinput.min.js"></script>
    <script type="text/javascript">
        jQuery(function ($) {
            $('#user-profile-3')
                .find('input[type=file]').ace_file_input({
                    style: 'well',
                    btn_choose: 'Change avatar',
                    btn_change: null,
                    no_icon: 'icon-picture',
                    thumbnail: 'large',
                    droppable: true,
                    before_change: function (files, dropped) {
                        var file = files[0];
                        if (typeof file === "string") { //files is just a file name here (in browsers that don't support FileReader API)
                            if (!(/\.(jpe?g|png|gif)$/i).test(file)) return false;
                        } else { //file is a File object
                            var type = $.trim(file.type);
                            if ((type.length > 0 && !(/^image\/(jpe?g|png|gif)$/i).test(type))
                                || (type.length == 0 && !(/\.(jpe?g|png|gif)$/i).test(file.name))//for android default browser!
                            ) return false;

                            if (file.size > 110000) { //~100Kb
                                return false;
                            }
                        }

                        return true;
                    }
                })
                .end().find('button[type=reset]').on(ace.click_event, function () {
                    $('#user-profile-3 input[type=file]').ace_file_input('reset_input');
                })
                .end().find('.date-picker').datepicker().next().on(ace.click_event, function () {
                    $(this).prev().focus();
                });
            $('.input-mask-phone').mask('(999) 999-9999');
        });
    </script>
}