@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.Blank.cshtml";
}
<div class="page-content">
    <div class="row">
        <div class="widget-box">
            <div class="widget-header header-color-blue2">
                <h4 class="lighter smaller">File Browser</h4>
            </div>
            <div class="widget-body">
                <div class="">
                    <div class="col-xs-3" style="padding: 0;">
                        <div id="file-browser">
                        </div>
                    </div>
                    <div class="preview-box col-xs-9 table-bordered">
                        <div class="file-preview" style="display: none">
                            <div class="file-preview-inner">
                                <img id="filepickerpreview" />
                            </div>
                            <ul id="file-info">
                            </ul>
                        </div>
                        <ul id="file-list">
                        </ul>
                    </div>
                    <div class="clearfix"></div>
                    <div class="space-4"></div>
                    <div id="fileUploader" class="col-xs-3">
                        <noscript>
                            <p>
                                Please enable JavaScript to use file uploader.
                            </p>
                            <!-- or put a simple form for upload here -->
                        </noscript>
                    </div>
                    <div class="col-xs-9">
                        <div class="center">
                            <input type="button" class="btn btn-primary" value="Edit" onclick="EditThis()" />
                            <input id="select" type="button" class="btn btn-primary" value="Select" onclick="SaveThis()" />
                            <input id="select-for-ckeditor" type="button" class="btn btn-primary" value="Select" onclick="SelectThis()" />
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
</div>

@section styles
{
    <link rel="stylesheet" href="/Content/Media/fileuploader.css" />
    <link rel="stylesheet" href="/Content/Media/mediaBrowser.css" />
    <link rel="stylesheet" href="/Content/fancybox/jquery.fancybox.css" />
}
@section scripts
{
    <script type="text/javascript">
        var folders = [@Html.Raw(ViewBag.Folders)];
    </script>
    <script type="text/javascript" src="/Scripts/fancybox/jquery.fancybox.js"></script>
    <script type="text/javascript" src="/Scripts/Media/fileuploader.js"></script>
    <script type="text/javascript" src="/Scripts/Media/jquery.hotkeys.js"></script>
    <script type="text/javascript" src="/Scripts/Media/jquery.jstree.js"></script>
    <script type="text/javascript" src="/Scripts/Media/filebrowser.js"></script>
    <script type="text/javascript">
        $(function () {
            createUploader();
            if (getUrlParam("CKEditor") != '') {
                $("#select-for-ckeditor").show();
                $("#select").hide();
            }
            else {
                $("#select").show();
                $("#select-for-ckeditor").hide();
            }
        });

        function EditThis() {
            $.fancybox({
                href: "@Url.Action("ImageEditor", "Media", new { area = "Admin" })?virtualPath=" + $('#file-browser').jstree('get_selected').attr('id'),
                type: 'iframe',
                width: '100%',
                afterClose: function () {
                    $('#file-browser').find('.jstree-clicked').trigger("click");
                    var toRefreshNode = $.jstree._reference($('#file-browser'))
                        ._get_parent($('#file-browser').jstree('get_selected'));
                    $.jstree._reference($('#file-browser')).refresh(toRefreshNode);
                    $(".file-preview").show();
                    $("#file-list").hide();
                    return true;
                },
            });
        }
        function SaveThis() {
            var fileUrl = $('#file-browser').jstree('get_selected').attr('id');
            if (typeof (parent.window["selectImage"]) != "undefined" && typeof (parent.$TargetControl) === "function") {
                parent.$TargetControl(fileUrl);
            } else {
                parent.$TargetControl.val(fileUrl);
            }
            if(parent.window["selectImage"].length > 0)
                parent.window["selectImage"](fileUrl);
            parent.$.fancybox.close();
        }

        function SelectThis() {
            var funcNum = getUrlParam('CKEditorFuncNum');
            var fileUrl = $('#file-browser').jstree('get_selected').attr('id');
            if (typeof (parent.window["selectImage"]) != "undefined" && parent.window["selectImage"].length > 0)
                parent.window["selectImage"](fileUrl);
            window.opener.CKEDITOR.tools.callFunction(funcNum, fileUrl);
            window.close();
        }

        var uploader;

        function createUploader() {
            uploader = new qq.FileUploader({
                element: document.getElementById("fileUploader"),
                action: '@Url.Action("FileUpload")',
                params: {},
                debug: true,
                onSubmit: function () {
                    var currentNode = $('#file-browser').jstree('get_selected');
                    var type = currentNode.attr("rel");
                    if (type == "folder" || type == "home") {
                        uploader.setParams({
                            dir: $('#file-browser').jstree('get_selected').attr('id')
                        });
                    }
                    else {
                        var parentNode = $.jstree._reference('#file-browser')._get_parent(currentNode);
                        if (parentNode.length > 0) {
                            uploader.setParams({
                                dir: parentNode.attr("id")
                            });
                        } else {
                            ShowErrorMessage("Please select folder to upload.");
                            return false;
                        }
                    }
                    return true;
                },
                onComplete: function (id, filename, response) {
                    if (response.success) {
                        var fileBrowser = "#file-browser";
                        if (response.isImage) {
                            $("#filepickerpreview").attr("src", response.fileLocation);
                        } else {
                            $("#filepickerpreview").attr("src", "/Core/Media/Styles/file.png");
                        }
                        var currentNode = $(fileBrowser).jstree('get_selected');
                        var type = currentNode.attr("rel");
                        $.jstree._reference(fileBrowser).deselect_node(currentNode);
                        if (type == "folder" || type == "home") {
                            $.jstree._reference(fileBrowser).refresh(currentNode);
                        } else {
                            var parentNode = $.jstree._reference(fileBrowser)._get_parent(currentNode);
                            $.jstree._reference(fileBrowser).refresh(parentNode);
                        }
                        $.jstree._reference(fileBrowser).data.ui.to_select = ['#' + response.fileLocation];
                        
                        $(".file-preview").show();
                        $("#file-list").hide();
                        ShowSuccessMessage("Upload file succesfully");
                    } else {
                        ShowErrorMessage(response.message);
                    }
                    $(".qq-upload-fail").remove();
                    $(".qq-upload-success").remove();

                }
            });
            $(".qq-upload-button").addClass("btn btn-primary");
        }
    </script>
}