<p>{RotatingImages_2}</p>
<div class="divWrapperTwoHalf">
    <div class="divHalfContentWrapper halfOnLeft col-xs-12 col-sm-6">
        <div class="col-sm-12">
            <div class="headerType1HalfContent">
                H&Acirc;N HẠNH
                <div>KH&Aacute;CH H&Agrave;NG L&Agrave; THƯỢNG ĐẾ SOME TEXT</div>
            </div>
        </div>

        <div class="clearfix">&nbsp;</div>

        <div class="thumbnailWithShadowWrapper col-xs-12 col-sm-12 col-md-6 col-lg-6"><a href="#">
            <img class="img-responsive img-thumbnail" src="/Content/FrontEnd/img/hotelWelcome.jpg" />
        </a></div>

        <div class="clearfix visible-xs visible-sm">&nbsp;</div>

        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 rightSmallContent">
            <div class="smallContentHeader">
                PHỤC VỤ TẬN TÌNH
                <div>Lu&ocirc;n đ&aacute;p ứng mọi nhu cầu của kh&aacute;ch h&agrave;ng với th&aacute;i độ t&iacute;ch cực, lu&ocirc;n lu&ocirc;n sẵn s&agrave;ng, niềm nở, phục vụ 24/24. Với PXHotel, qu&yacute; vị sẽ c&oacute; những gi&acirc;y ph&uacute;t ấm &aacute;p b&ecirc;n người th&acirc;n v&agrave; gia đ&igrave;nh.</div>
            </div>
            Đọc thêm
        </div>
    </div>
    <div class="clearfix visible-xs">&nbsp;</div>
    <div class="divHalfContentWrapper halfOnRight col-xs-12 col-sm-6">
        <div class="col-sm-12">
            <div class="headerType2HalfContent">PHÒNG NGHỈ CAO CẤP</div>

            <div>
                <img class="center-block img-responsive" src="/Content/FrontEnd/img/pattern1.gif" /></div>
        </div>

        <div class="clearfix">&nbsp;</div>

        <div class="divBigSquareImg col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <a href="#">
                <img class="img-responsive img-thumbnail" src="/Content/FrontEnd/img/squareImg1.jpg" />
            </a>

            <div class="squareShortDetail">
                <div class="squareRoomType"><a href="#">SUITE</a></div>

                <div class="squareRoomPrice"><a href="#">1.800.000 VND</a></div>
            </div>
        </div>

        <div class="clearfix visible-xs visible-sm">&nbsp;</div>

        <div class="divSmallSquareImg col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                <a href="#">
                    <img class="img-responsive img-thumbnail" src="/Content/FrontEnd/img/squareImg2.jpg" />
                </a>

                <div class="squareShortDetail">
                    <div class="squareRoomType"><a href="#">STANDARD</a></div>

                    <div class="squareRoomPrice"><a href="#">500.000 VND</a></div>
                </div>
            </div>

            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                <a href="#">
                    <img class="img-responsive img-thumbnail" src="/Content/FrontEnd/img/squareImg3.jpg" />
                </a>

                <div class="squareShortDetail">
                    <div class="squareRoomType"><a href="#">SUPERIOR</a></div>

                    <div class="squareRoomPrice"><a href="#">700.000 VND</a></div>
                </div>
            </div>

            <div class="clearfix">&nbsp;</div>

            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                <a href="#">
                    <img class="img-responsive img-thumbnail" src="/Content/FrontEnd/img/squareImg4.jpg" />
                </a>

                <div class="squareShortDetail">
                    <div class="squareRoomType"><a href="#">DELUXE</a></div>

                    <div class="squareRoomPrice"><a href="#">900.000 VND</a></div>
                </div>
            </div>

            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                <a href="#">
                    <img class="img-responsive img-thumbnail" src="/Content/FrontEnd/img/squareImg5.jpg" />
                </a>

                <div class="squareShortDetail">
                    <div class="squareRoomType"><a href="#">SUITE</a></div>

                    <div class="squareRoomPrice"><a href="#">1.800.000 VND</a></div>
                </div>
            </div>

            <div class="clearfix">&nbsp;</div>

            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">Xem th&ecirc;m</div>
        </div>
    </div>

    <div class="clearfix visible-xs">&nbsp;</div>
</div>

<div class="clearfix">&nbsp;</div>

<p>{Banner_1}</p>

<div class="clearfix">&nbsp;</div>

<div class="threePartsServices">
    <div class="col-sm-4 divNewsEvents">
        <img class="center-block img-responsive imgPattern" src="/Content/FrontEnd/img/pattern1.png" />
        <img class="center-block img-responsive" src="/Content/FrontEnd/img/border-top.png" />
        <div class="text-center">TIN TỨC - SỰ KIỆN</div>
        <img class="center-block img-responsive" src="/Content/FrontEnd/img/border-bot.png" />
        {News_2}
    </div>

    <div class="col-sm-4 divServices">
        <img class="center-block img-responsive imgPattern" src="/Content/FrontEnd/img/pattern1.png" />
        <img class="center-block img-responsive" src="/Content/FrontEnd/img/border-top.png" />
        <div class="text-center">DỊCH VỤ</div>
        <img class="center-block img-responsive" src="/Content/FrontEnd/img/border-bot.png" />
        {Services_3}
    </div>

    <div class="col-sm-4 divBooking">
        <img class="center-block img-responsive imgPattern" src="/Content/FrontEnd/img/pattern1.png" />
        <img class="center-block img-responsive" src="/Content/FrontEnd/img/border-top.png" />
        <div class="text-center">ĐẶT PH&Ograve;NG TRỰC TUYẾN</div>
        <img class="center-block img-responsive" src="/Content/FrontEnd/img/border-bot.png" />
        <form>
            <div class="form-group">
                Ng&agrave;y đến
                <div class="col-sm-7">
                    <input type="date" /></div>
            </div>

            <div class="form-group">
                Ng&agrave;y đi
                <div class="col-sm-7">
                    <input type="date" /></div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-4 col-sm-7">Kiểm tra</div>
            </div>
        </form>

        <div class="col-xs-6 col-sm-6 divSkypeOnline" id="SkypeButton_Call_iamnguyenhuykha_1">&nbsp;</div>
        <!-- <a href="ymsgr:sendIM?iamnguyenhuykha"><img border="0" src="http://opi.yahoo.com/online?u=iamnguyenhuykha&m=g&t=9&l=us"></a> -->

        <div class="col-xs-6 col-sm-6 divSkypeOnline" id="SkypeButton_Call_liemdl_1">&nbsp;</div>

        <div class="clearfix">&nbsp;</div>
    </div>

    <div class="clearfix">&nbsp;</div>
</div>

<div class="divFeedbackAndGallery">
    <div class="col-lg-6">
        <div class="col-lg-7 divWrapperTestimonial">{Testimonials}</div>

        <div class="col-lg-5 divWrapperFeedback">
            <div class="textHeadingDivFeedback col-lg-12">&Yacute; KIẾN</div>

            <form>
                <div class="form-group">
                    <input type="text" /></div>

                <div class="form-group">
                    <textarea rows="3"></textarea></div>
                Gửi phản hồi
            </form>
        </div>
    </div>

    <div class="col-lg-3 divWrapperContact">
        <div class="textHeadingDivFeedback col-lg-12">LI&Ecirc;N HỆ</div>

        <ul>
            <li>
                <p><strong>Địa chỉ:</strong> 112 Phan Đ&igrave;nh Ph&ugrave;ng, Phường 6, TP. Đ&agrave; Lạt</p>
            </li>
            <li>
                <p><strong>Phone:</strong> +84 63 00000</p>
            </li>
            <li>
                <p><strong>Email:</strong><a href="mailto:pxmail@yahoo.com">pxmail@yahoo.com</a></p>
            </li>
        </ul>
    </div>

    <div class="col-lg-3 divWrapperImageGallery">
        <div class="textHeadingDivFeedback col-lg-12">THƯ VIỆN ẢNH</div>

        <div id="gallery">
            <div class="imageInGallery col-sm-4 col-xs-6"><a href="/Content/FrontEnd/img/galleryImg1.jpg">
                <img class="img-responsive" src="/Content/FrontEnd/img/galleryImg1.jpg" />
            </a></div>

            <div class="imageInGallery col-sm-4 col-xs-6"><a href="/Content/FrontEnd/img/galleryImg2.jpg">
                <img class="img-responsive" src="/Content/FrontEnd/img/galleryImg2.jpg" />
            </a></div>

            <div class="clearfix visible-xs">&nbsp;</div>

            <div class="imageInGallery col-sm-4 col-xs-6"><a href="/Content/FrontEnd/img/galleryImg3.jpg">
                <img class="img-responsive" src="/Content/FrontEnd/img/galleryImg3.jpg" />
            </a></div>

            <div class="imageInGallery col-sm-4 col-xs-6"><a href="/Content/FrontEnd/img/galleryImg4.jpg">
                <img class="img-responsive" src="/Content/FrontEnd/img/galleryImg4.jpg" />
            </a></div>

            <div class="clearfix visible-xs">&nbsp;</div>

            <div class="imageInGallery col-sm-4 col-xs-6"><a href="/Content/FrontEnd/img/galleryImg5.jpg">
                <img class="img-responsive" src="/Content/FrontEnd/img/galleryImg5.jpg" />
            </a></div>

            <div class="imageInGallery col-sm-4 col-xs-6"><a href="/Content/FrontEnd/img/galleryImg6.jpg">
                <img class="img-responsive" src="/Content/FrontEnd/img/galleryImg6.jpg" />
            </a></div>

            <div class="clearfix visible-xs">&nbsp;</div>
        </div>
    </div>

    <div class="clearfix">&nbsp;</div>
</div>
