@model PX.Business.Models.ClientMenus.ClientMenuManageModel

@{
    ViewBag.Header = "Client Menu Management";
    ViewBag.Title = "Edit Client Menu";
    ViewBag.Description = "Edit Client Menu";
}

<div class="page-header">
    <h1>@ViewBag.Header
        <small>
            <i class="fa fa-angle-double-right"></i>
            @ViewBag.Title
        </small>
    </h1>
</div>

<div class="row">
    <div class="col-xs-12">
        @ShowStatusMessage()
        @using (Html.BeginForm("Edit", "ClientMenus", null, FormMethod.Post, new { @class = "form-horizontal" }))
        {
            @Html.EditorForModel(Model)
        }
    </div>
</div>