@model PX.Business.Models.News.NewsManageModel

@{
    ViewBag.Header = "News Management";
    ViewBag.Title = "Create News";
    ViewBag.Description = "Create News";
}

<div class="page-header">
    <h1>@ViewBag.Header
        <small>
            <i class="icon-double-angle-right"></i>
            @ViewBag.Title
        </small>
    </h1>
</div>

<div class="row">
    <div class="col-xs-12">
        @ShowStatusMessage()
        @using (Html.BeginForm("Create", "News", null, FormMethod.Post, new { @class = "form-horizontal" }))
        {
            @Html.EditorForModel(Model)
        }
    </div>
</div>