@model PX.Business.Models.RotatingImages.RotatingImageManageModel

@{
    ViewBag.Header = "Rotating Image Create";
    ViewBag.Title = "Rotating Image Management";
    ViewBag.Description = "Create Rotating Image";
}
<div class="page-header">
    <h1>@ViewBag.Header
        <small>
            <i class="fa fa-angle-double-right"></i>
            @ViewBag.Title
        </small>
    </h1>
</div>

<div class="row">
    <div class="col-xs-12">
        @ShowStatusMessage()
        @using (Html.BeginForm("Edit", "RotatingImages", null, FormMethod.Post, new { @class = "form-horizontal" }))
        {
            @Html.EditorForModel(Model)
        }
    </div>
</div>