<div class="navbar navbar-static-top navbar-default">
    <div class="navbar-header">Toggle navigation</div>

    <div class="navbar-collapse collapse">
        <ul>
            <li><a class="dropdown-submenu" href="#">trang chủ</a></li>
            <li><a href="">trang chủ</a></li>
            <li><a class="dropdown-submenu" href="#">dịch vụ</a>
                <ul>
                    <li><a href="#" tabindex="-1">dịch vụ 1 </a>
                        <ul>
                            <li><a href="#" tabindex="-1">dịch vụ 1 - 1 </a>
                                <ul>
                                    <li><a href="#" tabindex="-1">dịch vụ 1 - 1 - 1 </a></li>
                                </ul>
                            </li>
                            <li><a href="#" tabindex="-1">dịch vụ 1 - 2 </a></li>
                        </ul>
                    </li>
                    <li><a href="#" tabindex="-1">dịch vụ 2 </a></li>
                    <li><a href="#" tabindex="-1">dịch vụ 3 </a></li>
                    <li><a href="#" tabindex="-1">dịch vụ 4 </a></li>
                </ul>
            </li>
            <li>
                <div class="linkItemLevel1OnMobile">dịch vụ</div>

                <ul>
                    <li>
                        <div class="linkItemLevel2OnMobile">dịch vụ 1</div>

                        <ul>
                            <li><a href="#">dịch vụ 1-1</a></li>
                            <li><a href="#">dịch vụ 1-2</a></li>
                            <li><a href="#">dịch vụ 1-3</a></li>
                        </ul>
                    </li>
                    <li>
                        <div class="linkItemLevel2OnMobile">dịch vụ 2</div>

                        <ul>
                            <li><a href="#">dịch vụ 2-1</a></li>
                            <li><a href="#">dịch vụ 2-2</a></li>
                            <li><a href="#">dịch vụ 2-3</a></li>
                        </ul>
                    </li>
                    <li><a href="#">dịch vụ 3</a></li>
                </ul>
            </li>
            <li><a class="dropdown-submenu" href="#">tin tức - sự kiện</a></li>
            <li><a href="">tin tức - sự kiện</a></li>
            <li><a class="dropdown-submenu" href="#">ph&ograve;ng nghỉ</a></li>
            <li><a href="">ph&ograve;ng nghỉ</a></li>
            <li><a class="dropdown-submenu" href="#">li&ecirc;n hệ</a></li>
            <li><a href="">li&ecirc;n hệ</a></li>
            <li><a class="dropdown-submenu" href="#">về ch&uacute;ng t&ocirc;i</a></li>
            <li><a href="">về ch&uacute;ng t&ocirc;i</a></li>
        </ul>
    </div>
</div>
