<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="PXHotel">
    <meta name="author" content="PXHotel">
    <link rel="shortcut icon" href="favicon.png">

    <title>PXHotel</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->

    <!-- Custom styles for this template -->
    <link href="css/styles.css" rel="stylesheet">
    <link href="css/font-awesome.min.css" rel="stylesheet">
    <link href="fonts/allura-regular-webfont.css" rel="stylesheet">
    <link href="fonts/fontviet1-webfont.css" rel="stylesheet">
    <link href="css/owl.carousel.css" rel="stylesheet">
    <link href="css/owl.theme.css" rel="stylesheet">
    <link href="css/owl.transitions.css" rel="stylesheet">
    <link href="css/animate.min.css" rel="stylesheet">
    <link href="css/datepicker.css" rel="stylesheet">
    <link href="css/datepicker.date.css" rel="stylesheet">
    <link href="css/photobox.css" rel="stylesheet">
    <link href="css/photobox.ie.css" rel="stylesheet">
    <link href="css/summernote.css" rel="stylesheet">
  </head>
  <body>

    <div class="bigWrapper col-lg-10 col-lg-offset-1">
      <div>
        <div class="divMenuAndLogo">
          <div class="navbar navbar-static-top navbar-default" role="navigation">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
            </div>
            <div class="navbar-collapse collapse">
              <ul class="nav navbar-nav myNavbarNav">
                <li class="active dropdown parentDropdownMenu hidden-xs">
                  <a href="#" class="dropdown-submenu" data-toggle="dropdown">trang chủ</a>
                </li>
                <li class="visible-xs menuItemOnMobileWithoutChildren">
                  <a href="">trang chủ</a>
                </li>
                

                <li class="dropdown parentDropdownMenu hidden-xs">
                  <a href="#" class="dropdown-submenu" data-toggle="dropdown">dịch vụ</a>
                  <ul class="dropdown-menu">
                    <li class="dropdown-submenu">
                      <a tabindex="-1" href="#">
                        <span>dịch vụ 1</span>
                      </a>
                      <ul class="dropdown-menu">
                        <li class="dropdown-submenu">
                          <a tabindex="-1" href="#">
                            <span>dịch vụ 1 - 1</span>
                          </a>
                          <ul class="dropdown-menu">
                            <li class="dropdown-submenu">
                              <a tabindex="-1" href="#">
                                <span>dịch vụ 1 - 1 - 1</span>
                              </a>
                            </li>
                          </ul>
                        </li>
                        <li class="dropdown-submenu">
                          <a tabindex="-1" href="#">
                            <span>dịch vụ 1 - 2</span>
                          </a>
                        </li>
                      </ul>
                    </li>
                    <li class="dropdown-submenu">
                      <a tabindex="-1" href="#">
                        <span>dịch vụ 2</span>
                      </a>
                    </li>
                    <li class="dropdown-submenu">
                      <a tabindex="-1" href="#">
                        <span>dịch vụ 3</span>
                      </a>
                    </li>
                    <li class="dropdown-submenu">
                      <a tabindex="-1" href="#">
                        <span>dịch vụ 4</span>
                      </a>
                    </li>
                  </ul>
                </li>

                <li class="visible-xs menuItemOnMobile">
                  <div class="linkItemLevel1OnMobile">dịch vụ</div>
                  <ul class="menuItemContainerLevel1OnMobile">
                    <li class="subMenuWithImage">
                      <div class="linkItemLevel2OnMobile">dịch vụ 1</div>
                      <ul class="menuItemContainerLevel2OnMobile">
                        <li><a href="#">dịch vụ 1-1</a></li>
                        <li><a href="#">dịch vụ 1-2</a></li>
                        <li><a href="#">dịch vụ 1-3</a></li>
                      </ul>
                    </li>
                    <li class="subMenuWithImage subMenuCaymanOnMobile">
                      <div class="linkItemLevel2OnMobile">dịch vụ 2</div>
                      <ul class="menuItemContainerLevel2OnMobile">
                        <li><a href="#">dịch vụ 2-1</a></li>
                        <li><a href="#">dịch vụ 2-2</a></li>
                        <li><a href="#">dịch vụ 2-3</a></li>
                      </ul>
                    </li>
                    <li class="visible-xs menuItemOnMobileWithoutChildren">
                      <a href="#">dịch vụ 3</a>
                    </li>
                  </ul>
                </li>

                <li class="dropdown parentDropdownMenu hidden-xs">
                  <a href="#" class="dropdown-submenu" data-toggle="dropdown">tin tức - sự kiện</a>
                </li>
                <li class="visible-xs menuItemOnMobileWithoutChildren">
                  <a href="">tin tức - sự kiện</a>
                </li>

                <li class="dropdown parentDropdownMenu hidden-xs">
                  <a href="#" class="dropdown-submenu" data-toggle="dropdown">phòng nghỉ</a>
                </li>
                <li class="visible-xs menuItemOnMobileWithoutChildren">
                  <a href="">phòng nghỉ</a>
                </li>

                <li class="dropdown parentDropdownMenu hidden-xs">
                  <a href="#" class="dropdown-submenu" data-toggle="dropdown">liên hệ</a>
                </li>
                <li class="visible-xs menuItemOnMobileWithoutChildren">
                  <a href="">liên hệ</a>
                </li>

                <li class="dropdown parentDropdownMenu hidden-xs">
                  <a href="#" class="dropdown-submenu" data-toggle="dropdown">về chúng tôi</a>
                </li>
                <li class="visible-xs menuItemOnMobileWithoutChildren">
                  <a href="">về chúng tôi</a>
                </li>
              </ul>
            </div> 
          </div>

          <div class="divLogo col-sm-2 col-sm-offset-5 col-xs-4 col-xs-offset-4">
              <img src="img/hotelLogo.png" class="img-responsive" />
          </div>
          <div class="clearfix"></div>

          <div class="col-lg-4 col-lg-offset-4 divTextLuxuryHotel">
            <hr>
            <div>
              <div>Luxury Hotel</div>
            </div>
          </div>
          <div class="clearfix"></div>

          <div class="lineSeparator"><hr></div>
        </div>

        <div id="bigCarousel" class="owl-carousel">
          <div class="item">
            <a href="#">
              <img class="lazyOwl" data-src="img/hotelRoom1.jpg" alt="">
            </a>
          </div>
          <div class="item">
            <a href="#">
              <img class="lazyOwl" data-src="img/hotelRoom2.jpg" alt="">
            </a>
          </div>
          <div class="item">
            <a href="#">
              <img class="lazyOwl" data-src="img/hotelRoom3.jpg" alt="">
            </a>
          </div>
          <div class="item">
            <a href="#">
              <img class="lazyOwl" data-src="img/hotelRoom4.jpg" alt="">
            </a>
          </div>
        </div>
      
        <div class="divWrapperTwoHalf">
          <div class="divHalfContentWrapper halfOnLeft col-xs-12 col-sm-6">
            <div class="col-sm-12">
              <div class="headerType1HalfContent">HÂN HẠNH
                <div>KHÁCH HÀNG LÀ THƯỢNG ĐẾ SOME TEXT</div>
              </div>
            </div>
            <div class="clearfix"></div>
            <div class="thumbnailWithShadowWrapper col-xs-12 col-sm-12 col-md-6 col-lg-6">
              <a href="#">
                <img class="img-responsive img-thumbnail" src="img/hotelWelcome.jpg" />
              </a>
            </div>
            <div class="clearfix visible-xs visible-sm"></div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 rightSmallContent">
              <div class="smallContentHeader">PHỤC VỤ TẬN TÌNH
                <div>Luôn đáp ứng mọi nhu cầu của khách hàng với thái độ tích cực, luôn luôn sẵn sàng, niềm nở, phục vụ 24/24. Với PXHotel, quý vị sẽ có những giây phút ấm áp bên người thân và gia đình.</div>
              </div>
              <button type="button" class="btn btn-primary">Đọc thêm</button>
            </div>
          </div>
          <div class="clearfix visible-xs"></div>
          <div class="divHalfContentWrapper halfOnRight col-xs-12 col-sm-6">
            <div class="col-sm-12">
              <div class="headerType2HalfContent">PHÒNG NGHỈ
                <span>CAO CẤP</span>
              </div>
              <div>
                <img src="img/pattern1.gif" class="img-responsive center-block"></img>
              </div>
            </div>
            <div class="clearfix"></div>
            <div class="divBigSquareImg col-xs-12 col-sm-12 col-md-6 col-lg-6">
              <a href="#">
                <span class="squareOverlay"></span>
                <span class="squareMagnifier"></span>
                <img class="img-responsive img-thumbnail" src="img/squareImg1.jpg" />
                <div class="squareShortDetail">
                  <div class="squareRoomType">SUITE</div>
                  <div class="squareRoomPrice">1.800.000 VND</div>
                </div>
              </a>
            </div>
            <div class="clearfix visible-xs visible-sm"></div>
            <div class="divSmallSquareImg col-xs-12 col-sm-12 col-md-6 col-lg-6">
              <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                <a href="#">
                  <span class="squareOverlay"></span>
                  <span class="squareMagnifier"></span>
                  <img class="img-responsive img-thumbnail" src="img/squareImg2.jpg" />
                  <div class="squareShortDetail">
                    <div class="squareRoomType">STANDARD</div>
                    <div class="squareRoomPrice">500.000 VND</div>
                  </div>
                </a>
              </div>
              <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                <a href="#">
                  <span class="squareOverlay"></span>
                  <span class="squareMagnifier"></span>
                  <img class="img-responsive img-thumbnail" src="img/squareImg3.jpg" />
                  <div class="squareShortDetail">
                    <div class="squareRoomType">SUPERIOR</div>
                    <div class="squareRoomPrice">700.000 VND</div>
                  </div>
                </a>
              </div>
              <div class="clearfix"></div>
              <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                <a href="#">
                  <span class="squareOverlay"></span>
                  <span class="squareMagnifier"></span>
                  <img class="img-responsive img-thumbnail" src="img/squareImg4.jpg" />
                  <div class="squareShortDetail">
                    <div class="squareRoomType">DELUXE</div>
                    <div class="squareRoomPrice">900.000 VND</div>
                  </div>
                  </a>
              </div>
              <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                <a href="#">
                  <span class="squareOverlay"></span>
                  <span class="squareMagnifier"></span>
                  <img class="img-responsive img-thumbnail" src="img/squareImg5.jpg" />
                  <div class="squareShortDetail">
                    <div class="squareRoomType">SUITE</div>
                    <div class="squareRoomPrice">1.800.000 VND</div>
                  </div>
                </a>
              </div>
              <div class="clearfix"></div>
              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <button type="button" class="btn btn-primary pull-right">Xem thêm</button>
              </div>
            </div>
          </div>
          <div class="clearfix visible-xs"></div>
        </div>

        <div class="clearfix"></div>

        <div class="adsOrPromo">
          <div class="adsTitle col-sm-8 col-sm-offset-1">ƯU ĐÃI ĐẶC BIỆT <span>CHO KHÁCH HÀNG VIP DIAMOND</span></div>
          <div class="clearfix"></div>
          <div class="adsDescription col-sm-8 col-sm-offset-1">PXHotel nhân dịp kỷ niệm 20 năm thành lập, trân trọng gửi đến quý khách hàng lâu năm thẻ VIP Diamond chương trình đặc biệt. Với mỗi hóa đơn từ 10.000.000 VNĐ, quý khách hàng sẽ được ưu đãi 50% giá trị. Dấu mốc đáng nhớ với PXHotel và quý vị! </div>
          <div class="clearfix"></div>
        </div>

        <div class="threePartsServices">
          <div class="col-sm-4 divNewsEvents">
            <img src="img/pattern1.png" class="imgPattern img-responsive center-block">
            <img src="img/border-top.png" class="img-responsive center-block">
            <div class="text-center">TIN TỨC - SỰ KIỆN</div>
            <img src="img/border-bot.png" class="img-responsive center-block">
            <ul class="listNews">
              <li class="listNewsItem">
                <div class="newsItemDate col-sm-3 col-xs-3">12
                  <div>Jan</div>
                </div>
                <div class="clearfix visible-xs"></div>
                <div class="newsItemContent col-sm-9">
                  <div>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas...<a href="#">Xem thêm</a>
                </div>
              </li>
              <li class="listNewsItem">
                <div class="newsItemDate col-sm-3 col-xs-3">12
                  <div>Jan</div>
                </div>
                <div class="clearfix visible-xs"></div>
                <div class="newsItemContent col-sm-9">
                  <div>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas...<a href="#">Xem thêm</a>
                </div>
              </li>
            </ul>
          </div>
          <div class="col-sm-4 divServices">
            <img src="img/pattern1.png" class="imgPattern img-responsive center-block">
            <img src="img/border-top.png" class="img-responsive center-block">
            <div class="text-center">DỊCH VỤ</div>
            <img src="img/border-bot.png" class="img-responsive center-block">
            <div class="carouselServiceList owl-carousel">
              <div class="item">
                <div class="serviceList">
                  <div class="serviceImg col-sm-6">
                    <img src="img/service1.jpg" class="img-thumbnail img-responsive"/>
                  </div>
                  <div class="serviceDescription col-sm-6">
                    <div>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Proin pharetra nonummy pede. Mauris et orci.</div>
                    <button type="button" class="btn btn-default">Đọc thêm</button>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="serviceList">
                  <div class="serviceImg col-sm-6">
                    <img src="img/service2.jpg" class="img-thumbnail img-responsive"/>
                  </div>
                  <div class="serviceDescription col-sm-6">
                    <div>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Proin pharetra nonummy pede. Mauris et orci.</div>
                    <button type="button" class="btn btn-default">Đọc thêm</button>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="serviceList">
                  <div class="serviceImg col-sm-6">
                    <img src="img/service3.jpg" class="img-thumbnail img-responsive"/>
                  </div>
                  <div class="serviceDescription col-sm-6">
                    <div>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Proin pharetra nonummy pede. Mauris et orci.</div>
                    <button type="button" class="btn btn-default">Đọc thêm</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-4 divBooking">
            <img src="img/pattern1.png" class="imgPattern img-responsive center-block">
            <img src="img/border-top.png" class="img-responsive center-block">
            <div class="text-center">ĐẶT PHÒNG TRỰC TUYẾN</div>
            <img src="img/border-bot.png" class="img-responsive center-block">
            <form class="form-horizontal onlineBookingForm" role="form">
              <div class="form-group">
                <label for="inputArrivalDate" class="col-sm-4 control-label">Ngày đến</label>
                <div class="col-sm-7">
                  <input type="date" class="form-control datepickerfield" id="inputArrivalDate" placeholder="">
                </div>
              </div>
              <div class="form-group">
                <label for="inputExitDate" class="col-sm-4 control-label">Ngày đi</label>
                <div class="col-sm-7">
                  <input type="date" class="form-control datepickerfield" id="inputExitDate" placeholder="">
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-offset-4 col-sm-7">
                  <button type="submit" class="btn btn-default">Kiểm tra</button>
                </div>
              </div>
            </form>
            <script type="text/javascript" src="http://www.skypeassets.com/i/scom/js/skype-uri.js"></script>
            <div id="SkypeButton_Call_iamnguyenhuykha_1" class="col-xs-6 col-sm-6 divSkypeOnline">
              <script type="text/javascript">
                Skype.ui({
                  "name": "chat",
                  "element": "SkypeButton_Call_iamnguyenhuykha_1",
                  "participants": ["iamnguyenhuykha"],
                  "imageSize": 32
                });
              </script>
            </div>
            <!-- <a href="ymsgr:sendIM?iamnguyenhuykha"><img border="0" src="http://opi.yahoo.com/online?u=iamnguyenhuykha&m=g&t=9&l=us"></a> -->
            <script type="text/javascript" src="http://www.skypeassets.com/i/scom/js/skype-uri.js"></script>
            <div id="SkypeButton_Call_liemdl_1" class="col-xs-6 col-sm-6 divSkypeOnline">
              <script type="text/javascript">
                Skype.ui({
                  "name": "call",
                  "element": "SkypeButton_Call_liemdl_1",
                  "participants": ["liemdl"],
                  "imageSize": 32
                });
              </script>
            </div>
            <div class="clearfix"></div>
          </div>
          <div class="clearfix"></div>
        </div>

        <div class="divFeedbackAndGallery">
          <div class="col-lg-6">
            <div class="col-lg-7 divWrapperTestimonial">
              <div class="textHeadingDivFeedback col-lg-12">
                NHẬN XÉT
              </div>
              <div id="carouselTestimonial" class="owl-carousel">
                <div class="item">
                  <article>
                    <div class="contentTestimonial">
                        <p>Những ngày lưu lại ở PX đã thực sự làm cho chúng tôi hài lòng. Khách sạn rất sạch sẽ, tiện nghi, buffet sáng rất ngon, nhân viên nhẹ nhàng, nhiệt tình. Nếu có dịp quay lại Đà Lạt, tôi sẽ lại chọn PX Hotel!</p>
                        <div class="col-sm-4">
                          <img src="img/testimonialImg1.jpg" alt="Liem Nguyen" title="Liem Nguyen" class="img-responsive" />
                        </div>
                        <div class="clearfix visible-xs"></div>
                        <div class="col-sm-8">
                          <div><a href="">Liem Nguyen</a></div>
                          Chairman of ABCDEF
                        </div>
                    </div>
                  </article>
                </div>
                <div class="item">
                  <article>
                    <div class="contentTestimonial">
                        <p>Những ngày lưu lại ở PX đã thực sự làm cho chúng tôi hài lòng. Khách sạn rất sạch sẽ, tiện nghi, buffet sáng rất ngon, nhân viên nhẹ nhàng, nhiệt tình. Nếu có dịp quay lại Đà Lạt, tôi sẽ lại chọn PX Hotel!</p>
                        <div class="col-sm-4">
                          <img src="img/testimonialImg1.jpg" alt="Liem Nguyen" title="Liem Nguyen" class="img-responsive" />
                        </div>
                        <div class="clearfix visible-xs"></div>
                        <div class="col-sm-8">
                          <div><a href="">Liem Nguyen</a></div>
                          Chairman of ABCDEF
                        </div>
                    </div>
                  </article>
                </div>
                <div class="item">
                  <article>
                    <div class="contentTestimonial">
                        <p>Những ngày lưu lại ở PX đã thực sự làm cho chúng tôi hài lòng. Khách sạn rất sạch sẽ, tiện nghi, buffet sáng rất ngon, nhân viên nhẹ nhàng, nhiệt tình. Nếu có dịp quay lại Đà Lạt, tôi sẽ lại chọn PX Hotel!</p>
                        <div class="col-sm-4">
                          <img src="img/testimonialImg1.jpg" alt="Liem Nguyen" title="Liem Nguyen" class="img-responsive" />
                        </div>
                        <div class="clearfix visible-xs"></div>
                        <div class="col-sm-8">
                          <div><a href="">Liem Nguyen</a></div>
                          Chairman of ABCDEF
                        </div>
                    </div>
                  </article>
                </div>
                <div class="item">
                  <article>
                    <div class="contentTestimonial">
                        <p>Những ngày lưu lại ở PX đã thực sự làm cho chúng tôi hài lòng. Khách sạn rất sạch sẽ, tiện nghi, buffet sáng rất ngon, nhân viên nhẹ nhàng, nhiệt tình. Nếu có dịp quay lại Đà Lạt, tôi sẽ lại chọn PX Hotel!</p>
                        <div class="col-sm-4">
                          <img src="img/testimonialImg1.jpg" alt="Liem Nguyen" title="Liem Nguyen" class="img-responsive" />
                        </div>
                        <div class="clearfix visible-xs"></div>
                        <div class="col-sm-8">
                          <div><a href="">Liem Nguyen</a></div>
                          Chairman of ABCDEF
                        </div>
                    </div>
                  </article>
                </div>
              </div>
            </div>
            <div class="col-lg-5 divWrapperFeedback">
              <div class="textHeadingDivFeedback col-lg-12">
                Ý KIẾN
              </div>
              <form role="form">
                <div class="form-group">
                  <input type="text" class="form-control" id="inputCustomerNameFeedback" placeholder="Tên Quý Khách">
                </div>
                <div class="form-group">
                  <textarea class="form-control" rows="3" placeholder="Nội dung"></textarea>
                </div>
                <button type="submit" class="btn btn-default">Gửi phản hồi</button>
              </form>
            </div>
          </div>
          <div class="col-lg-3 divWrapperContact">
            <div class="textHeadingDivFeedback col-lg-12">
              LIÊN HỆ
            </div>
            <ul class="divContactNearFooter">
              <li>
                <i class="fa fa-map-marker"></i>
                <p> 
                   <strong>Địa chỉ:</strong> 112 Phan Đình Phùng, Phường 6, TP. Đà Lạt
                </p>
              </li>
              <li>
                <i class="fa fa-phone"></i>
                <p><strong>Phone:</strong> +84 63 00000</p>
              </li>
              <li>
                <i class="fa fa-envelope"></i>
                <p><strong>Email:</strong><a href="mailto:pxmail@yahoo.com">pxmail@yahoo.com</a></p>
              </li>
            </ul>
          </div>
          <div class="col-lg-3 divWrapperImageGallery">
            <div class="textHeadingDivFeedback col-lg-12">
              THƯ VIỆN ẢNH
            </div>
            <div id='gallery'>
              <div class="imageInGallery col-sm-4 col-xs-6">
                <a href="img/galleryImg1.jpg">
                  <img class="img-responsive" src="img/galleryImg1.jpg" />
                </a>
              </div>
              <div class="imageInGallery col-sm-4 col-xs-6">
                <a href="img/galleryImg2.jpg">
                  <img class="img-responsive" src="img/galleryImg2.jpg" />
                </a>
              </div>
              <div class="clearfix visible-xs"></div>
              <div class="imageInGallery col-sm-4 col-xs-6">
                <a href="img/galleryImg3.jpg">
                  <img class="img-responsive" src="img/galleryImg3.jpg" />
                </a>
              </div>
              <div class="imageInGallery col-sm-4 col-xs-6">
                <a href="img/galleryImg4.jpg">
                  <img class="img-responsive" src="img/galleryImg4.jpg" />
                </a>
              </div>
              <div class="clearfix visible-xs"></div>
              <div class="imageInGallery col-sm-4 col-xs-6">
                <a href="img/galleryImg5.jpg">
                  <img class="img-responsive" src="img/galleryImg5.jpg" />
                </a>
              </div>
              <div class="imageInGallery col-sm-4 col-xs-6">
                <a href="img/galleryImg6.jpg">
                  <img class="img-responsive" src="img/galleryImg6.jpg" />
                </a>
              </div>
              <div class="clearfix visible-xs"></div>
            </div>
          </div>
          <div class="clearfix"></div>
        </div>

        <footer>
          <div class="col-sm-6">
            PX HOTEL &copy; 2014
          </div>
          <div class="col-sm-6">
            <ul class="containerSocialLinkAtFooter">
              <li>
                <a href="#" class="iconSocialAtFooter facebookIcon">&#61594;</a>
                <a href="#" class="iconSocialAtFooter googleIcon">&#61653;</a>
                <a href="#" class="iconSocialAtFooter youTubeIcon">&#61799;</a>
                <a href="#" class="iconSocialAtFooter twitterIcon">&#61593;</a>
                <a href="#" class="iconSocialAtFooter rssIcon">&#xF09E;</a>
              </li>
            </ul>
          </div>
          <div class="clearfix"></div>
        </footer>

        <div class="fixedNavigation">
          <ul class="smallItemWrapperFixedNavigation">
            <li class="smallItemFixedNavigation">
              <a id="btnScrollTop" href="" title="Top"><i class="fa fa-arrow-up"></i></a>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="js/jquery-1.10.2.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/waypoints.min.js"></script>
    <script src="js/imagesloaded.pkgd.min.js"></script>
    <script src="js/picker.js"></script>
    <script src="js/picker.date.js"></script>
    <script src="js/jquery.photobox.js"></script>
    <script src="js/summernote.min.js"></script>
    <script src="js/jquery.parallax-1.1.3.js"></script>
    <script type="text/javascript">
      $(document).ready(function(){
        $("#bigCarousel").owlCarousel({
          autoPlay : 3000,
          stopOnHover : true,
          navigation:true,
          paginationSpeed : 1000,
          paginationNumbers: true,
          lazyLoad : true,
          goToFirstSpeed : 2000,
          singleItem : true,
          autoHeight : true,
          transitionStyle:"fade",
          navigationText: [
          "<i class='fa fa-chevron-left'></i>",
          "<i class='fa fa-chevron-right'></i>"]
        });

        $(".carouselServiceList").owlCarousel({
          autoPlay: 5000,
          stopOnHover: true,
          paginationNumbers: true,
          lazyLoad: true,
          singleItem : true
        });

        $("#carouselTestimonial").owlCarousel({
          autoPlay: 5000,
          singleItem: true,
          pagination: false,
          transitionStyle: "backSlide"
        });

        $('#bigCarousel').addClass('animated bounceIn');

        $('.divWrapperTwoHalf').imagesLoaded(function( instance ) {
          $('.divWrapperTwoHalf').waypoint(function(direction) {
            if (direction == "down"){
              $('.divHalfContentWrapper.halfOnRight').addClass('animated fadeInRight showDiv');
              $('.divHalfContentWrapper.halfOnLeft').addClass('animated fadeInLeft showDiv');
            }
          }, {
            offset: function() {
              if ($(window).width() < 768)
                return ($(window).height());
              else
                return ($('#bigCarousel').height()*1.5);
            }
          });
        });

        $('.adsOrPromo').imagesLoaded(function( instance ) {
          $('.adsOrPromo').waypoint(function(direction) {
            if (direction == "down"){
              $(this).addClass('animated fadeInDown showDiv');
            }
          }, {
            offset: function() {
              return ($(window).height() - $(this).height()*0.5);
            }
          });
        });

        $('.divFeedbackAndGallery').imagesLoaded(function( instance ) {
          $('.divFeedbackAndGallery').waypoint(function(direction) {
            if (direction == "down"){
              $(this).find('.divWrapperTestimonial').addClass('animated bounceIn showDiv');
              $(this).find('.divWrapperFeedback').addClass('animated bounceIn showDiv');
              $(this).find('.divWrapperContact').addClass('animated bounceIn showDiv');
              $(this).find('.divWrapperImageGallery').addClass('animated bounceIn showDiv');
            }
          }, {
            offset: function() {
              if ($(window).width() < 768)
                return ($(window).height());
              else
                return ($(window).height() - $(this).height()*0.5);
            }
          });
        });              

        /*Small Fixed Navigation behavior*/
        if ($(window).scrollTop() == 0)
          $("#btnScrollTop").css({"color":"#000000"});
          
        $(function () {
          $(window).scroll(function () {
            if ($(this).scrollTop() > 10) {
              $('#btnScrollTop').css({"color":"#FFFFFF"});
              $('.fixedNavigation').addClass('move');
            } else {
              $('#btnScrollTop').css({"color":"#000000"});
              $('.fixedNavigation').removeClass('move');
            }
          });
        });

        $('#btnScrollTop').click(function () {
          $('body,html').animate({
            scrollTop: 0
          }, 800);
          return false;
        });

        $('.divSmallSquareImg > div').hover(function(){
          $(this).addClass('smallHovered');
        },function(){
          $(this).removeClass('smallHovered');
        });

        // Datepicker
        $('.datepickerfield').pickadate({
          monthsFull: ['Tháng Một', 'Tháng Hai', 'Tháng Ba', 'Tháng Tư', 'Tháng Năm', 'Tháng Sáu', 'Tháng Bảy', 'Tháng Tám', 'Tháng Chín', 'Tháng Mười', 'Tháng Mười Một', 'Tháng Mười Hai'],
          monthsShort: ['Th 1', 'Th 2', 'Th 3', 'Th 4', 'Th 5', 'Th 6', 'Th 7', 'Th 8', 'Th 9', 'Th 10', 'Th 11', 'Th 12'],
          weekdaysFull: ['Chủ Nhật', 'Thứ Hai', 'Thứ Ba', 'Thứ Tư', 'Thứ Năm', 'Thứ Sáu', 'Thứ Bảy'],
          weekdaysShort: ['CN', 'T2', 'T3', 'T4', 'T5', 'T6', 'T7'],
          today: 'Hôm nay',
          clear: 'Xóa',
          format: 'dd/mm/yyyy'
        });

        // Photobox
        $('#gallery').photobox({
          time: 2000
        });

        // Hover the heading text
        $('.divNewsEvents').hover(function(){
          $(this).find('.text-center').addClass('animated fadeInDown');
        }, function(){
          $(this).find('.text-center').removeClass('animated fadeInDown');
        });

        $('.divServices').hover(function(){
          $(this).find('.text-center').addClass('animated fadeInDown');
        }, function(){
          $(this).find('.text-center').removeClass('animated fadeInDown');
        });

        $('.divBooking').hover(function(){
          $(this).find('.text-center').addClass('animated fadeInDown');
        }, function(){
          $(this).find('.text-center').removeClass('animated fadeInDown');
        });

        // Hover the heading text
        $('.divWrapperTestimonial').hover(function(){
          $(this).find('.textHeadingDivFeedback').addClass('animated fadeInRight');
        }, function(){
          $(this).find('.textHeadingDivFeedback').removeClass('animated fadeInRight');
        });

        $('.divWrapperFeedback').hover(function(){
          $(this).find('.textHeadingDivFeedback').addClass('animated fadeInRight');
        }, function(){
          $(this).find('.textHeadingDivFeedback').removeClass('animated fadeInRight');
        });

        $('.divWrapperContact').hover(function(){
          $(this).find('.textHeadingDivFeedback').addClass('animated fadeInRight');
        }, function(){
          $(this).find('.textHeadingDivFeedback').removeClass('animated fadeInRight');
        });

        $('.divWrapperImageGallery').hover(function(){
          $(this).find('.textHeadingDivFeedback').addClass('animated fadeInRight');
        }, function(){
          $(this).find('.textHeadingDivFeedback').removeClass('animated fadeInRight');
        });

        // Hover the menu
        $('li.parentDropdownMenu').hover(function(){
          $(this).find('ul.dropdown-menu').addClass('animated fadeInUp MenuHovered');
        }, function(){
          $(this).find('ul.dropdown-menu').removeClass('animated fadeInUp MenuHovered');
        });

        $('li.dropdown-submenu').hover(function(){
          $(this).find('ul.dropdown-menu').addClass('animated fadeInRight MenuHovered');
        }, function(){
          $(this).find('ul.dropdown-menu').removeClass('animated fadeInRight MenuHovered');
        });

        // IF MENU HAS SUBMENU(S), TURN ON RIGHT ARROW
        $(".myNavbarNav .dropdown .dropdown-menu .dropdown-submenu").each(function(index){
          if($(this).children("ul.dropdown-menu").length > 0){
            $(this).children("a").after().addClass("HasChildMenusArrow");
          }
        });

        // Enable click
        $('.myNavbarNav > li a').click(function(){
          window.location.href = $(this).attr("href");
        });

        // Menu on mobile
        $('.linkItemLevel1OnMobile').click(function() {
            //collapse another menu before expand this
            $.each($(this).parent().siblings(), function(i, val){
              if ($(this).find("ul").is(":visible")){
                $(this).find("ul")[0].style.display = "none";
                $(this).removeClass("AfterExpand");
              }
            });

            $(this).siblings('ul.menuItemContainerLevel1OnMobile').toggle();
            $(this).parent().toggleClass("AfterExpand");
            if ($(this).parent().hasClass('AfterExpand')){
              $('html, body').animate({
              scrollTop: $(this).offset().top - 13}, 350);  
            }
            else
              $('html, body').animate({
              scrollTop: 0}, 350);
            
        });

        $('.linkItemLevel2OnMobile').click(function() {
            //collapse another menu before expand this
            $.each($(this).parent().siblings(), function(i, val){
              if ($(this).find("ul").is(":visible")){
                $(this).find("ul")[0].style.display = "none";
                $(this).removeClass("AfterExpand");
              }
            });

            $(this).siblings('ul.menuItemContainerLevel2OnMobile').toggle();
            $(this).parent().toggleClass("AfterExpand");
            if ($(this).parent().hasClass('AfterExpand')){
              $('html, body').animate({
              scrollTop: $(this).offset().top - 13}, 350);  
            }
            else
              $('html, body').animate({
              scrollTop: 0}, 350);
            
        });
      });
    </script>
  </body>
</html>
